* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  display: grid;
  grid-template-rows: 1fr auto;
  overflow-x: hidden;
}

main {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.container {
  position: relative;
  border-radius: 20px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22), 3px 3px 10px rgba(0, 0, 0, 0.25);
  display: inline-block;
}

.input_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1 1 400px;
  padding: 2rem 1rem;
  background: linear-gradient(
    210deg,
    rgba(224, 224, 224, 0.3) 0,
    rgba(36, 34, 34, 0.1) 70%
  );
  color: white;
}

.input_container h1 {
  text-align: center;
  padding: 1rem 0;
}

.input_container ul {
  list-style: none;
}

.input_container ul li {
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input[type="range"] {
  margin-top: 2rem;
  width: 100%;
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: none;
  background: #ffffff;
  border-radius: 0px;
  border: 0px solid #010101;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: none;
  background: #ffffff;
  border-radius: 0px;
  border: 0px solid #010101;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: none;
  border: 0px solid #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: calc(2.4rem + 1px);
  width: 1.2rem;
  border-radius: 1.2rem;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1.2rem;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: none;
  border: 0px solid #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: calc(2.4rem + 1px);
  width: 1.2rem;
  border-radius: 1.2rem;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1.2rem;
}

input[type="range"]::-moz-focus-outer {
  border: 0;
}

.input_container .slider_info {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input_container button {
  align-self: center;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.25),
    -1px -1px 6px 2px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
  color: white;
  transform: scale(1.1, 1.1);
}

.input_container button:active {
  transform: scale(1, 1);
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.25),
    -1px -1px 6px 3px rgba(0, 0, 0, 0.22);
}

.input_container .note {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 1rem;
}

.input_container .note h2 {
  padding: 1rem 0.5rem;
}

.input_container .note li {
  padding: 0.5rem;
}

.input_container .note button {
  background-color: rgba(200, 200, 200, 0.1);
}

.copied {
  visibility: hidden;
}

.copied-active {
  visibility: visible;
}

.gradient_container {
  flex: 5 1 400px;
  min-height: 70vh;
}

footer {
  width: 100%;
  background-color: rgb(77, 67, 60, 0.5);
}

footer .copyright {
  height: auto;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(130, 130, 130);
  line-height: 2rem;
  font-size: 0.7rem;
  padding: 0.5rem;
}

footer .copyright a {
  text-decoration: none;
  font-weight: bold;
}

.colored-text {
  white-space: nowrap;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 500% 500%;
  -webkit-animation: bgcolor 5s ease infinite;
  -moz-animation: bgcolor 5s ease infinite;
  animation: bgcolor 5s ease infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes bgcolor {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
