* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: sans-serif;
}
main {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 1rem;
}

.container {
  position: relative;
  border-radius: 20px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22), 3px 3px 10px rgba(0, 0, 0, 0.25);
  display: inline-block;
}

.input_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1 1 400px;
  padding: 2rem 1rem;
  background: linear-gradient(
    210deg,
    rgba(224, 224, 224, 0.3) 0,
    rgba(36, 34, 34, 0.1) 70%
  );
  color: white;
}

.input_container h1 {
  text-align: center;
  padding: 1rem 0;
}

.input_container ul {
	list-style: none;
}

.input_container ul li {
	padding: 1rem 0rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.input_container button {
  align-self: center;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.25),
    -1px -1px 6px 2px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
  color: white;
  transform: scale(1.1, 1.1);
}

.input_container button:active {
  transform: scale(1, 1);
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.25),
    -1px -1px 6px 3px rgba(0, 0, 0, 0.22);
}

.input_container .note {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 20px;
	padding: 1rem;
}

.input_container .note h2 {
	padding: 1rem 0.5rem;
}

.input_container .note li {
	padding: 0.5rem;
}

.input_container .note button {
  background-color: rgba(200, 200, 200, 0.1);
}

.copied{
	visibility: hidden;
}

.copied-active{
	visibility: visible;
}

.gradient_container {
  flex: 5 1 400px;
  min-height: 90vh;
}
